/* https://louisem.com/421408/gray-hex-codes */

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #bdb7ab;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #3E454B;
    border-radius: 25px;

    border: red;
    border-width: 1px;
    border-style: solid;
}

#calculator-screen{
    display: flex;
    padding: 5px;
    height: 75px;
    width: 300px;
    margin-bottom: 20px;
    background-color: #97978F;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-end;
    

    border: red;
    border-width: 1px;
    border-style: solid;
}

.row{
    display: flex;
    padding: 5px;
    height: 50px;
    width: 275px;
    margin: 5px;
    justify-content: space-between;

    border: red;
    border-width: 1px;
    border-style: solid;
}

.button {
    background-color: #787276;
    height: 50px;
    width: 60px;
    font-weight: 700;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    font-size: 1.325rem;
    border: none;
    border-radius: 75px;
}

.extraWideButton {
    width: 130px;
}