/* https://louisem.com/421408/gray-hex-codes */

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #bdb7ab;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Quicksand', 'Roboto', sans-serif;
}

#calculator-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #222021;
    border-radius: 16px;
    font-weight: 700;
}

#calculator-screen{
    display: flex;
    padding: 5px;
    height: 60px;
    width: 255px;
    margin-bottom: 25px;
    margin-top: 3px;
    background-color: #97978F;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
}

#inputText {
    color: 	#544C4A;
    font-size: 18px;
}

#outputText {
   color: #363636;
   font-size: 20px;
}

.row{
    display: flex;
    height: 50px;
    margin: 5px;
    width: 265px;
    justify-content: space-between;
    padding: 2px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.button {
    background-color: #616161;
    color: #D6CFC7;
    height: 60px;
    width: 60px;
    font-size: 1.325rem;
    border: none;
    font-weight: 700;
    border-radius: 100%;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.5);
    transition: all .15s ease-in-out;
}

#extraWideButton {
    width: 130px;
    border-radius: 75px;
}

#linkText {
    margin-top: 75px;
    font-family: 'Quicksand', 'Roboto', sans-serif;
}

.button:hover {
    background-color: #787276;
}

#extraWideButton:hover {
    background-color: green;
}

#ac-btn:hover, #del-btn:hover {
    background-color: lightcoral;
}

.operator:hover {
    background-color: #007FFF;
}